{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large">
    <h1 class="uk-heading-line uk-text-center uk-margin-large-bottom">
        <span>Create Note</span>
    </h1>
    <form id="noteForm" class="uk-form-stacked" action="/api/notes" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="username">Username:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" id="username" name="username" required>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="email">Email:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="email" id="email" name="email" required>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="facebook">Facebook:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" id="facebook" name="facebook">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="phone">Phone Number:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="tel" id="phone" name="phone">
            </div>
        </div>
        <button class="uk-button uk-button-primary" type="submit">Create Note</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.onload = function() {
        setupFormSubmission('noteForm');
    };
</script>
{% endblock %}