Flask
Flask-Migrate
flask-sqlalchemy
flask-mail
flask-restful
flask-cors
flask-jwt-extended
psycopg2-binary
sqlalchemy
flask-security-too[fsqla,common]
python-dotenv
openai
Werkzeug
colorama
pathlib
Jinja2
weasyprint
requests
maigret
holehe