fastapi[standard]
uvicorn
sqlmodel
sqlalchemy-utils
psycopg2-binary
bcrypt
pyjwt
pydantic-settings
werkzeug
filetype
chardet
selenium
beautifulsoup4
python-dotenv
holehe
pyexiftool
python-whois
loguru
cryptography
openai
shodan
pytest
pytest-asyncio
peopledatalabs
aiohttp
dnspython
vt-py
python-multipart
celery[redis]
redis
