{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block head_extra %}
    <script src="https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/js/jquery.dataTables.min.js" integrity="sha256-3aHVku6TxTRUkkiibvwTz5k8wc7xuEr1QqTB+Oo5Q7I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous">
    <style>
    .capitalize {
        text-transform: capitalize;
    }
    </style>
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large">
    <h1 class="uk-heading-line uk-text-center uk-margin-large-bottom"><span>Admin Dashboard</span></h1>
    <div class="user-management">
        <h3 class="uk-heading-line uk-text-left uk-margin-large-bottom"><span>User Management</span></h3>
        <table id="usersTable" class="uk-table uk-table-hover uk-table-divider display" style="width:100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th> <!-- For Edit/Delete buttons -->
                </tr>
            </thead>
            <tbody>
                <!-- User rows will be dynamically inserted here -->
            </tbody>
        </table>

        <h3 class="uk-heading-line uk-text-left uk-margin-large-bottom"><span>Create Invitation</span></h3>
        <div class="user-management">
            <form id="create-invitation-form" data-method="POST">
                <div class="uk-margin">
                    <select class="uk-select" id="invitationRole" name="role" required>
                        <option value="">Select a role</option>
                        <option value="admin">Admin</option>
                        <option value="investigator">Investigator</option>
                        <option value="analyst">Analyst</option>
                    </select>
                </div>
                <button class="uk-button uk-button-primary" type="submit">Create Invitation</button>
            </form>
        </div>

        <h3 class="uk-heading-line uk-text-left uk-margin-large-bottom"><span> Add New User</span></h3>
    <form id="add-user-form" action="/admin/users" method="POST">
        <div class="uk-margin">
            <input class="uk-input" type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="uk-margin">
            <select class="uk-select" id="role" name="role" required>
                <option value="admin">Admin</option>
                <option value="investigator">Investigator</option>
                <option value="analyst">Analyst</option>
            </select>
        </div>
        <button class="uk-button uk-button-primary" type="submit">Add User</button>
    </form>

    </div>

</div>



            <!-- Edit User Modal -->
        <div id="editUserModal" class="uk-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Edit User</h2>
                <form id="edit-user-form" data-method="PATCH">
                    <input type="hidden" id="editUserId" name="id">
                    <div class="uk-margin">
                        <label>Username:</label>
                        <label for="editUsername"></label><input class="uk-input" type="text" id="editUsername" name="username">
                    </div>
                    <div class="uk-margin">
                        <label>Password:</label>
                        <label for="editPassword"></label><input class="uk-input" type="text" id="editPassword" name="password">
                    </div>
                    <div class="uk-margin">
                        <label>Email:</label>
                        <label for="editEmail"></label><input class="uk-input" type="text" id="editEmail" name="email">
                    </div>
                    <div class="uk-margin">
                        <label>Role:</label>
                        <select class="uk-select" id="editRole" name="role">
                            <option value="admin">Admin</option>
                            <option value="investigator">Investigator</option>
                            <option value="analyst">Analyst</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>

<script>
$(document).ready(function() {
    var usersTable;

    refreshUsers();
    setupFormSubmission("add-user-form");
    setupFormSubmission("create-invitation-form", "/admin/invitations");

    function refreshUsers() {
        $.ajax({
            url: '/admin/users',
            type: 'GET',
            dataType: 'json',
            cache: false,
            success: function(users) {
                if (usersTable) {
                    usersTable.clear().destroy();
                }

                var tableBody = $('#usersTable tbody');
                tableBody.empty();
                users.forEach(function(user) {
                    var row = '<tr>' +
                              '<td>' + user.username + '</td>' +
                              '<td class="capitalize">' + user.role + '</td>' +
                              '<td><button class="edit-btn" data-id="' + user.id + '">Edit</button>' +
                              ' <button class="delete-btn" data-id="' + user.id + '">Delete</button></td>' +
                              '</tr>';
                    tableBody.append(row);
                });

                usersTable = $('#usersTable').DataTable();
                attachDeleteHandlers();
            },
            error: function() {
                alert('Failed to load users');
            }
        });
    }

    function attachDeleteHandlers() {
        $('.delete-btn').on('click', function() {
            var userId = $(this).data('id');
            var rowToDelete = $(this).closest('tr');
            deleteUser(userId, rowToDelete);
        });
    }

    // Attach event handler for opening the edit modal with user details
    $('#usersTable tbody').on('click', '.edit-btn', function() {
        var userId = $(this).attr('data-id'); // Assume each button has 'data-id' attribute
        var userData = usersTable.row($(this).parents('tr')).data();
        openEditForm(userId, userData);
    });

    // Function to fetch user data and open the edit user modal
    function openEditForm(userId) {
        $.ajax({
            url: '/admin/users/' + userId,
            type: 'GET',
            dataType: 'json',
            success: function(user) {
                // On success, populate the form fields with the user's data
                $('#editUsername').val(user.username);
                $('#editPassword').val('');
                $('#editEmail').val(user.email);
                $('#editRole').val(user.role);

                // Set the form's action dynamically to include the userId
                var formAction = '/admin/users/' + userId;
                $('#edit-user-form').attr('action', formAction);

                UIkit.modal("#editUserModal").show();
            },
            error: function(xhr, status, error) {
                console.error("Failed to fetch user details: " + error);
                alert("Could not fetch user details. Please try again.");
            }
        });
    }

    // Call setupFormSubmission for both add and edit forms
    setupFormSubmission("add-user-form");
    setupFormSubmission("edit-user-form");


    function deleteUser(userId, rowToDelete) {
        if (confirm('Are you sure you want to delete this user?')) {
            const csrfToken = getCsrfCookie();

            $.ajax({
                url: '/admin/users/' + userId,
                type: 'DELETE',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(result) {
                    usersTable.row(rowToDelete).remove().draw();
                    alert('User deleted successfully');
                },
                error: function(xhr, status, error) {
                    alert('Error deleting user: ' + error);
                }
            });
        }
    }

});

</script>

{% endblock %}