{% extends "base.html" %}

{% block title %}Investigation Tools{% endblock %}

{% block head_extra %}
<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
{% endblock %}

{% block content %}
    <style>
    .loader {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
        display: none;
        margin: 10px auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

        .strixy-output {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    </style>
<body>
<div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-height-viewport">
    <div class="uk-width-1-2@m uk-margin-small">
        <!-- Collapsible Card for Holehe tool -->
        {% if current_user.role in ['admin', 'investigator'] %}
        <div class="uk-card-large uk-card-default uk-margin-top">
            <div class="uk-card-header">
                <h3 class="uk-card-title uk-margin-remove-bottom">Holehe</h3>
                <a class="uk-button uk-button-text" uk-toggle="target: #holehe-body">Show/Hide</a>
            </div>
            <div id="holehe-body" hidden>
                <div class="uk-card-body">
                    <p>Run the holehe tool to find websites where the given email address is associated with a registered account.</p>
                    <form onsubmit="runTool(this)" data-tool="holehe">
                        <input type="hidden" name="tool" value="holehe">
                        <input class="uk-input uk-margin-small-bottom" type="text" name="target" placeholder="Enter email address" required>
                        <select class="uk-select uk-margin-small-bottom" name="case_number" required>
                            <option value="">Select a case</option>
                        {% if current_user.role == 'admin' %}
                            {% for case in cases %}
                                <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                            {% endfor %}
                        {% else %}
                            {% for case in current_user.authorized_cases %}
                                <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                        <button type="submit" class="uk-button uk-button-primary">Run</button>
                        <button type="button" class="uk-button uk-button-danger" onclick="cancelTool(this)">Cancel</button>
                        <div class="loader"></div>
                    </form>
                    <div class="uk-card uk-card-default uk-margin-top">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Output</h3>
                        </div>
                        <div class="uk-card-body output-container" style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Collapsible Card for Maigret tool -->
        {% if current_user.role in ['admin', 'investigator'] %}
        <div class="uk-card-large uk-card-default uk-margin-top">
            <div class="uk-card-header">
                <h3 class="uk-card-title uk-margin-remove-bottom">Maigret</h3>
                <a class="uk-button uk-button-text" uk-toggle="target: #maigret-body">Show/Hide</a>
            </div>
            <div id="maigret-body" hidden>
                <div class="uk-card-body">
                    <p>Run the maigret tool to find websites where the given username is registered.</p>
                    <form onsubmit="runTool(this)" data-tool="maigret">
                        <input type="hidden" name="tool" value="maigret">
                        <input class="uk-input uk-margin-small-bottom" type="text" name="target" placeholder="Username" required>
                        <select class="uk-select uk-margin-small-bottom" name="case_number" required>
                            <option value="">Select a case</option>
                        {% if current_user.role == 'admin' %}
                            {% for case in cases %}
                                <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                            {% endfor %}
                        {% else %}
                            {% for case in current_user.authorized_cases %}
                                <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                        <button type="submit" class="uk-button uk-button-primary">Run</button>
                        <button type="button" class="uk-button uk-button-danger" onclick="cancelTool(this)">Cancel</button>
                        <div class="loader"></div>
                    </form>
                    <div class="uk-card uk-card-default uk-margin-top">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">Output</h3>
                        </div>
                        <div class="uk-card-body output-container" style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Collapsible Card for Redd Baron tool -->
    {% if current_user.role in ['admin', 'investigator'] %}
    <div class="uk-card-large uk-card-default uk-margin-top">
        <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom">Redd Baron</h3>
            <a class="uk-button uk-button-text" uk-toggle="target: #reddbaron-body">Show/Hide</a>
        </div>
        <div id="reddbaron-body" hidden>
            <div class="uk-card-body">
                <p>Run the Redd Baron tool to find post and comments made by the given username on Reddit.</p>
                <form onsubmit="runTool(this)" data-tool="reddbaron">
                    <input type="hidden" name="tool" value="reddbaron">
                    <input class="uk-input uk-margin-small-bottom" type="text" name="target" placeholder="Reddit Username" required>
                    <select class="uk-select uk-margin-small-bottom" name="case_number" required>
                        <option value="">Select a case</option>
                    {% if current_user.role == 'admin' %}
                        {% for case in cases %}
                            <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                        {% endfor %}
                    {% else %}
                        {% for case in current_user.authorized_cases %}
                            <option value="{{ case.case_number }}">{{ case.case_number }}</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                    <button type="submit" class="uk-button uk-button-primary">Run</button>
                    <button type="button" class="uk-button uk-button-danger" onclick="cancelTool(this)">Cancel</button>
                    <div class="loader"></div>
                </form>
                <div class="uk-card uk-card-default uk-margin-top">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Output</h3>
                    </div>
                    <div class="uk-card-body output-container" style="max-height: 300px; overflow-y: auto;"></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Collapsible Card for Strixy tool -->
    {% if current_user.role in ['admin'] %}
    <div class="uk-card-large uk-card-default uk-margin-top">
        <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom">Strixy</h3>
            <a class="uk-button uk-button-text" uk-toggle="target: #strixy-body">Show/Hide</a>
        </div>
        <div id="strixy-body" hidden>
            <div class="uk-card-body">
                <p>Interact with Strixy, an AI OSINT analyst powered by ChatGPT.</p>
                <form id="uploadForm" onsubmit="uploadFile(event)">
                    <input type="file" name="file" id="file" class="uk-margin-small-top">
                    <button type="submit" class="uk-button uk-button-primary">Upload</button>
                </form>
                <form onsubmit="runStrixy(this)" data-tool="strixy">
                    <input type="hidden" name="tool" value="strixy">
                    <textarea class="uk-textarea uk-margin-small-bottom" name="query" placeholder="Enter your query" required></textarea>
                    <input type="checkbox" name="new_thread" id="new_thread">
                    <label for="new_thread">Start a new thread</label>
                    <select class="uk-select uk-margin-small-top" name="file_id" id="file_id">
                        <option value="">Select a file</option>
                    </select>
                    <button type="submit" class="uk-button uk-button-primary">Run</button>
                    <button type="button" class="uk-button uk-button-danger" onclick="cancelTool(this)">Cancel</button>
                    <div class="loader"></div>
                </form>
                <div class="uk-card uk-card-default uk-margin-top">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Output</h3>
                    </div>
                    <div class="uk-card-body output-container" style="max-height: 400px; overflow-y: auto;">
                        <div id="strixy-output" class="uk-text-break strixy-output"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    </div>
</div>
</body>
{% endblock %}