{% extends "base.html" %}

{% block title %}Client Detail{% endblock %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h2 class="uk-heading-line uk-text-bold"><span>{{ client.name }}</span></h2>
    <div class="uk-card uk-card-default uk-card-body uk-margin-top">
        <h3 class="uk-card-title">Details</h3>

        {% if current_user.role == "admin" %}
        <button id="edit-client-details" class="uk-button uk-button-default">Edit Client Details</button>
        {% endif %}

        <p><strong>Email:</strong> {{ client.email }}</p>
        <p><strong>Phone:</strong> {{ client.phone }}</p>
        <p><strong>Cases:</strong></p>
        <ul>
            {% for case in client.cases %}
            <li><a href="{{ url_for('cases.case_detail', case_id=case.id) }}">{{ case.case_number }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='/js/clients.js') }}"></script>
{% endblock %}